/* Header Style */

.box {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    font-family: 'Bruno Ace SC', cursive;
    margin: 0 auto;
}

.box h1 {
    font-size: 50px;
    margin-left: 10px;
}

.box img {
    width: 80px;
    height: 80px;
    box-shadow: -5px 5px 5px 5px black;
    padding: 10px 10px 10px 10px;
    margin: 5px 5px 5px 5px;
}

/* Content Style */

main {
    height: 440px;
    text-align: center;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}

textarea::placeholder {
    text-align: center;
}

main p {
    font-size: x-small;
}

.encrypt {
    background: rgb(52, 52, 151);
    color: aliceblue;
    text-align: center;
    font-size: large;
    border-radius: 15px;
    width: 150px;
    height: 50px;
}

.decrypt {
    background: black;
    color: aliceblue;
    text-align: center;
    font-size: large;
    border-radius: 15px;
    width: 150px;
    height: 50px;
}

.encrypt:hover {
    color: black;
    background: white;
    cursor: pointer;
    transition: 2s;
}

.decrypt:hover {
    color: black;
    background: white;
    cursor: pointer;
    transition: 2s all;
}

.encrypt:active {
    color: black;
    background: green;
}

.decrypt:active {
    color: black;
    background: green;
}

section {
    margin: 10px 10px 10px 10px;
}

/* Footer Style */

footer {
    width: 100vw;
    display: flex;
    position: absolute;
    margin-left: -8px;
    justify-content: center;
    background: gray;
    height: 87px;
}

footer p {
    color: black;
    font-weight: bold;
    margin-top: 35px;
    margin-left: 10px;
}

footer img {
    width: 80px;
    height: 80px;
    padding: 3px 3px 3px 3px;
}
